@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    display: flex;
    font-family: 'roboto', sans-serif;
    height: 100vh;
}

.logo {
    width: 250px;
    height: auto;
}

.section-imagem {
    background-image: url(imagens/escritorio-desfocado.jpg);
    background-size: cover;
    background-position: center;
    flex: 5;
}

.login-section {
    padding: 24px;
    font-size: 1.3rem;
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.form-row {
    display: flex;
    gap: 3rem;
    row-gap: 3rem;
    margin-bottom: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.login-section {
    padding: 24px;
    font-size: 1.3rem;
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.login-form {
    width: 100%;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 20px 50px;
}

.form-row {
    display: flex;
    gap: 3rem;
    padding-right: 10%;
    margin-bottom: 1.5rem;
}

.form-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-input>input {
    width: 80%;
    padding: .4rem 1rem;
    border: #ccc 2px solid;
    border-radius: 4px;
}

.form-input>input:focus {
    border: #777 2px solid;
    outline: none;
}

.form-input>input:user-invalid {
    border: red 2px solid;
    outline: none;
}

.form-submit {
    background-color: #3089bd;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 10px 15px;
    padding: 1rem 2.5rem;
    font-family: 'roboto';
    font-size: 1rem;
    font-weight: 600;
}

.form-submit:hover {
    cursor: pointer;
    background-color: green;
}

p {
    font-size: 15px;
    font-family: 'roboto', sans-serif;
}